<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="login">
      <h1>Login to Web App</h1>
    <h2 style="color: deeppink">{{ info }}</h2>
      <form method="post" action="login">
        <p><input type="text" name="login" value="" placeholder="Username"></p>
        <p><input type="password" name="password" value="" placeholder="Password"></p>
        <p class="submit"><input type="submit" name="commit" value="Login"></p>
      </form>
        <form method="post" action="registration">
            <button>Register</button>
        </form>
    </div>
</body>
</html>