<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h2 style="color: deeppink">{{ info }}</h2>
{{ notes }}
<form method="post" action="comment">
Comment:<br />
  <textarea name='comment' id='comment'></textarea><br />
  <input type="password" name="password" value="" placeholder="Enter your password">
  <input type='submit' value='Submit' />
    </form>
<form action="logout">
<button action="logout">Logout</button>
</form>
{% for item in navigation %}
        <div><h4>{{ item.nick }}</h4><p>{{ item.data }}</p></div>
    {% endfor %}
</body>
</html>